// FONT VARIABLES

// Font Families
$header-family      : sans-serif;
$subheader-family   : sans-serif;
$body-family        : sans-serif;

// Weights
$font-weight_light  : 300;
$font-weight_reg    : 400;
$font-weight_bold   : 600;
$font-weight_bolder : 700;

// Size
$font-size_small    : .9rem;
$font-size_reg      : 1.6rem;
$font-size_tall     : 2.0rem;
$font-size_taller   : 2.6rem;
$font-size_tallest  : 4.5rem;

// COLORS
$light_blue         : #4666B9;
$light_gray         : #B0B0AF;
$white              : #F0F4F9;
$black              : #333333;
